{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?ver={% now 'U' %}">
        {% block css %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Responsive navbar-->
            {% include "navbar.html" %}         
            <!-- Modal -->
            {% include "loginmodal.html" %}
        </header>

        <section class="content-section">  
        {% block content %}
        {% endblock %}
        </section>       
    
        <footer class="bg-dark d-flex justify-content-center align-items-center">
            {% include "footer.html" %}
        </footer>
    </body>
</html>


