{% load static %}
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Show profile" />
    <meta name="author" content="ChoiYunHo" />
    

    <!--inlcude bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'yunho/css/bootstrap.min.css' %}?ver={% now 'U' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <!--include fontawsome-->
    <script src="https://kit.fontawesome.com/f28dbb8460.js" crossorigin="anonymous"></script>    
    <title>The Best CYH</title>