<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a id="logo" class="navbar-brand" href="{% url 'yunho:main_index' %}">yunho</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-5 mb-2 mb-lg-0 navs">
                    <li class="nav-item"><a class="nav-link active text-white" href="{% url 'yunho:main_index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active text-white" href="{% url 'yunho:profile_index' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link active text-white" href="#!">Interest</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navs">
                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#loginModal">
                    &nbsp;&nbsp;Login&nbsp;&nbsp;
                </button>
            </ul>
        </div>
    </div>
</nav>