@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color : palegreen;
    padding: 0px;
}

header {
    height: 8vh;
}

.navs {
    font-family: 'Lilita One', cursive;
    font-size: 20px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.content-section {
    height: 84vh;
}

body {
    background-color: #808080;
}

footer {
    height: 8vh;
}

.bg {
    background-image : url('../images/dku_image.jpeg');
    background-size : cover;
    background-position : center center;
    width : 100%;
    height : 100%;
}

.icon-github {
    font-size: 20px;
}

#social-icon {
    font-size: 25px;
}

.underline-none {
    text-decoration: none;
}





