{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'yunho/css/profile.css' %}?ver={% now 'U' %}">
{% endblock %}
{% block content %}
<br><br>
<div class="container " style="border:3px solid #292929; border-style:dashed; border-radius: 1%;">
<div class="row">
  <div class="col-md-7">
    <section class="profile-section mt-3 mb-4">
      <div class="container">
        <h1 class="content-font">Profile</h1>

        <div class="card shadow-lg mb-3" style="border: 4px double #dcdcdc">
          <div class="row g-0">
            <div class="col-md-3">
              <img src="{% static 'yunho/images/cyhyg_bigger.jpg' %}" style="width: 100%;" alt="...">
            </div>
            <div class="col-md-9 content-color">
              <div class="card-body">
                <h4 class ="motto-font-1">좌우명</h4>
                <h6 class ="mt-2 motto-font-2">"수정을 용납하지 않는 계획은 나쁜 계획이다."</h6>
                <h6 class ="mt-3 motto-font-3">It is a bad plan that admits of no modification.</h6>      
              </div>
            </div>
          </div>
          <div class="row g-0 content-color">
            <div class="col-md-6 px-0">
              <ul class="mt-4">
                <li><h6 class="my-4"><strong>이름:</strong> 최윤호</h6></li>
                <li><h6 class="my-4"><strong>소속:</strong> 단국대학교 모바일시스템공학과</h6></li>
                <li><h6 class="my-4"><strong>연락:</strong> chycs7747@gmail.com</h6></li>
                <li><h6 class="my-4"><strong>자격증:</strong> Microsoft Ai-900 Azure</h6></li>
              </ul>
            </div>
            <div class="col-md-6 px-1">
              <ul class="mt-4">
                <li><h6 class="my-4"><strong>이메일:</strong> chycs7747@gmail.com</h6></li>
                <li><h6 class="my-4"><strong>핸드폰:</strong> 010-2372-1447</h6></li>
                <li><h6 class="my-4"><strong>깃허브:</strong> chycs7747@giyhub.com</h6></li>
                <li><h6 class="mt-4 mb-2"><strong>수상경력:</strong> 통일적정기술 MAKER’s 해커톤 최우수상&nbsp;(2019.08.26 ~ 2019.08.29)</h6></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>


  <div class="col-md-5">
    <div class="container">
      <section class="project-section mt-3 mb-4">
        <h1 class="content-font">Project</h1>
        <div class="card shadow" style="max-width: 540px; border: 4px double #dcdcdc;">
          <div class="row g-0 content-color">
            <div class="col-md-5" style="height: 180px;">
              <img src="{% static 'yunho/images/github_icon.jpg' %}" class="img-fluid rounded-start" style="width:vmax; height:100%;" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Github</h5>
                <p class="card-text">chycs7747@github.com<br>프로젝트에 대한 정보를 확인</p>
                  <a href="https://github.com/chycs7747" target="_blank" class="btn btn-outline-dark"><img src="{% static 'yunho/images/external_link_icon.jpg' %}" style="width: 22px; height: 22px;">Goto Yunho Github</a>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="card shadow mt-2" style="max-width: 540px; border: 4px double #dcdcdc">
          <div class="row g-0 content-color">
            <div class="col-md-5" style="height: 180px;">
              <img src="{% static 'yunho/images/notion_icon_big.jpg' %}" class="img-fluid rounded-start" style="background-color: #292929; width:vmax; height:100%;" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Notion</h5>
                <p class="card-text">공부를 정리하고, 자신의 목표와 꿈을 정리하는 공간입니다.</p>
                  {% if username %}
                  <a href="https://fourth-climb-da5.notion.site/4056b039f0984b32a980381553d8d5a8" target="_blank" class="btn btn-outline-dark"><img src="{% static 'yunho/images/external_link_icon.jpg' %}" style="width: 22px; height: 22px;">Goto Yunho Notion</a>
                  {% else %}
                  <a href="#" onclick="alert('로그인 후 이용해주세요.')" class="btn btn-outline-dark"><img src="{% static 'yunho/images/external_link_icon.jpg' %}" style="width: 22px; height: 22px;">Goto Yunho Notion</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</div>
{% endblock %}